@model List<Category>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6 text-primary">
            <h1>Category</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-dark"><i class="bi bi-plus-circle"></i> Create a Category</a>
        </div>
    </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a class="btn btn-primary btn-primary mx-2" asp-controller="Category" asp-route-id="@obj.Id" asp-action="Edit"><i class="bi bi-pencil"></i> Edit</a>
                        <a class="btn btn-primary btn-danger " asp-controller="Category" asp-action="Delete"><i class="bi bi-trash"></i> Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

